<section class="container my-5">
  <div>
    <div class="row row-cols-1 row-cols-lg-2 align-items-center mb-5">
      <div class="col mb-5 mb-lg-0">
        <img class="card-img-top" src="/assets/image/whyChooseUs.svg" alt="whyChooseUS" />
      </div>
      <div class="col">
        <div class="mb-3"><span class="small py-1 px-2 bg-light rounded-pill text-primary">Why choose us</span></div>
        <h1 class="font-weight-bolder mb-4">We Provide Best <br>
          <span class="text-primary">Web design</span> services
        </h1>
        <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et
          iaculis.</p>
        <div class="container">
          <div class="grid row row-cols-lg-2 pr-3 mb-5">
            <div class="mb-5">
              <h5 class="mb-4"><span class="text-white bg-primary rounded px-3 py-1">1</span></h5>
              <h5 class="mb-2 font-weight-bold">Web design UX/UI</h5>
              <p class=" text-muted ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis expedita
                animi.</p>
            </div>
            <div class="mb-5">
              <h5 class="mb-4"><span class="text-white bg-primary rounded px-3 py-1">2</span></h5>
              <h5 class="mb-2 font-weight-bold">React Develop</h5>
              <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis expedita animi.
              </p>
            </div>
            <div class="mb-5">
              <h5 class="mb-4"><span class="text-white bg-primary rounded px-3 py-1">3</span></h5>
              <h5 class="mb-2 font-weight-bold">Ecommerce Build</h5>
              <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis expedita animi.
              </p>
            </div>
            <div class=" mb-5">
              <h5 class="mb-4"><span class="text-white bg-primary rounded px-3 py-1">4</span></h5>
              <h5 class="mb-2 font-weight-bold">CMS develop</h5>
              <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis expedita animi.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col d-flex mb-2 animated bounce ">
        <div class="mt-3 pr-3">
          <span class="bg-light p-3  rounded"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
              fill="currentColor" class=" text-primary bi bi-people-fill" viewBox="0 0 16 16">
              <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
              <path fill-rule="evenodd"
                d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
              <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
            </svg></span>
        </div>
        <div>
          <h5 class="font-weight-bold ">+150</h5>
          <p>Annual parter</p>
        </div>
      </div>
      <div class="col d-flex mb-2 animated bounce ">
        <div class="mt-3 pr-3">
          <span class="bg-light p-3  rounded"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
              fill="currentColor" class=" text-primary bi bi-layers-fill" viewBox="0 0 16 16">
              <path
                d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4z" />
              <path
                d="m2.125 8.567-1.86.992a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882l-1.86-.992-5.17 2.756a1.5 1.5 0 0 1-1.41 0l-5.17-2.756z" />
            </svg></span>
        </div>
        <div>
          <h5 class="font-weight-bold">+50</h5>
          <p>Completed Projects</p>
        </div>
      </div>
      <div class="col d-flex mb-2 animated bounce ">
        <div class="mt-3 pr-3">
          <span class="bg-light p-3  rounded"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
              fill="currentColor" class=" text-primary bi bi-emoji-smile-fill" viewBox="0 0 16 16">
              <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zM4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" />
            </svg></span>
        </div>
        <div>
          <h5 class="font-weight-bold">+500</h5>
          <p>Happy Customers</p>
        </div>
      </div>
      <div class="col d-flex mb-2 animated bounce ">
        <div class="mt-3 pr-3">
          <span class="bg-light p-3  rounded"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
              fill="currentColor" class=" text-primary bi bi-kanban-fill" viewBox="0 0 16 16">
              <path
                d="M2.5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2h-11zm5 2h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm-5 1a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3zm9-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z" />
            </svg></span>
        </div>
        <div>
          <h5 class="font-weight-bold">+350</h5>
          <p>Research Work</p>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="py-5" style="background-color: #F8FAFC;">
  <div class="container px-4 px-lg-5 my-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-lg-2">
        <div class="col mb-2">
          <h1 class="font-weight-bolder">We are <span class="text-primary"> awesome team </span><br>
            for your business dream</h1>
        </div>
        <div class="col">
          <p class=" font-weight-normal text-muted mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            luctus eget justo et iaculis. Quisque vitae nulla malesuada, auctor arcu vitae, luctus nisi.</p>
        </div>
      </div>
      <div class=" mt-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col ">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
              <div class="card h-100 card border-0 card text-center ">
                <img src="/assets/image/Project Initialization.png" class="h-50 mt-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title h3 ms-auto">Project Initialization</h5>
                  <p class="card-text h6 text-secondary">Project initiation ensures that you lay a strong foundation for
                    a new project in your company our team.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col ">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
              <div class="card h-100 card border-0 card text-center">
                <img src="/assets/image/project planning 1.png" class=" h-50 mt-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title h3 ms-auto">Project planning</h5>
                  <p class="card-text h6 text-secondary">A project plan is essential to keep everything related to the
                    project organized, methodical, and on track. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col ">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
              <div class="card h-100 card border-0 card text-center">
                <img src="/assets/image/project organization.png" class=" h-50 mt-2" alt="...">
                <div class="card-body">
                  <h5 class="card-title h3 ms-auto">Project organization</h5>
                  <p class="card-text h6 text-secondary">Moving forward you will be able to keep yourself and your team
                    on track, and address. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container px-lg-5 my-5">
    <div class="container">
      <div class="mb-5">
        <h1 class="text-center font-weight-bold mb-4">Start saving time today <br>and <span
            class="text-primary">choose</span>
          your
          best plan</h1>
        <p class="text-center font-weight-bold text-secondary">Best for freelance developers who need to <br> save their
          time</p>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3">
        <div class="col mb-4 mb-xl-0">
          <div class="card">
            <div class="card-body">
              <div class="text-center mb-4">
                <img src="/assets/startup.svg" class="img-fluid w-50">
              </div>
              <div class="text-center mb-4">
                <h1 class="font-weight-bolder">Startup</h1>
                <h1 class="text-primary font-weight-bolder">$45.99</h1>
                <p class="text-black-50">user per month</p>
              </div>
              <div class="d-flex justify-content-center mb-3">
                <div class="text-black-50">
                  <p class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    3 Emails
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    1 Datebases
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    Unlimited Domains
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    10 GB Storage
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="btn mr-3 bg-primary text-white">Start Free
                  Trial</button>
                <button type="button" class="btn  btn-outline-primary">Purchase</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4 mb-lg-0">
          <div class="card bg-primary">
            <div class="card-body">
              <div class="text-center mb-4">
                <img src="assets/agency.svg" class="img-fluid w-50">
              </div>
              <div class="text-center mb-4">
                <h1 class="font-weight-bolder text-white">Agency</h1>
                <h1 class="text-white font-weight-bolder">$65.99</h1>
                <p class="text-white">user per month</p>
              </div>
              <div class="d-flex justify-content-center mb-3">
                <div class="text-white">
                  <p class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    3 Emails
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    1 Datebases
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    Unlimited Domains
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    10 GB Storage
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="btn mr-3 bg-white text-primary">Start Free
                  Trial</button>
                <button type="button" class="btn btn-outline-light text-white">Purchase</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4 mb-lg-0">
          <div class="card">
            <div class="card-body">
              <div class="text-center mb-4">
                <img src="/assets/startup.svg" class="img-fluid w-50">
              </div>
              <div class="text-center mb-4">
                <h1 class="font-weight-bolder">Enterprise</h1>
                <h1 class="text-primary font-weight-bolder">$85.99</h1>
                <p class="text-black-50">user per month</p>
              </div>
              <div class="d-flex justify-content-center mb-3">
                <div class="text-black-50">
                  <p class="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    3 Emails
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    1 Datebases
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    Unlimited Domains
                  </p>
                  <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-check-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                      <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                    </svg>
                    10 GB Storage
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <button type="button" class="btn mr-3 bg-primary text-white">Start Free
                  Trial</button>
                <button type="button" class="btn  btn-outline-primary">Purchase</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="contactus">
    <div class="container-fluid p-5 text-center">
      <h6><span class="p-2 rounded-pill bg-light text-primary">Contact Us</span> </h6>
      <h1 class=" text-bold font-weight-bold">We bill <span class="text-primary">be glad</span> to hear
        <br>from you!
      </h1>
      <div class="container mt-5">
        <div class="row justify-content-md-center">
          <div class="col col-lg-2">
            Department :
          </div>
          <div class="col-md-auto">
            <div class="custom-control custom-checkbox">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">Support</label>
            </div>
          </div>
          <div class="col col-lg-2">
            <div class="custom-control custom-checkbox">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">Sales</label>
            </div>
          </div>
        </div>
      </div>
      <div class="container col col-lg-5">
        <form>
          <div class="mt-3 ">
            <input type="text" class="form-control bg-light" placeholder="Subject">
          </div>
          <div class="mt-3">
            <input type="text" class="form-control bg-light" placeholder="Name">
          </div>
          <div class="mt-3">
            <input type="email" class="form-control bg-light" placeholder="name@example.com">
          </div>
          <div class="mt-3">
            <textarea class="form-control bg-light" placeholder="Message..." id="exampleFormControlTextarea1"
              rows="3"></textarea>
          </div>
          <div class="custom-file mt-3">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label bg-light" for="customFile"></label>
          </div>
          <div class="d-flex ml-3 mt-3">
            <div class="p-2">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">I agree to terms and conditions</label>
            </div>
            <div class="ml-auto p-2"><button type="submit"
                class="btn btn-primary  d-flex justify-content-end">Submit</button></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="mt-5">
    <div class="bg-primary  text-white p-5">
      <div class="container px-4 text-center">
        <h1 class="font-weight-bold">Subscribe now to <span class="text-white-50">Our Newsletter</span> <br>and get the
          Coupon
          code.</h1>
        <p class="mt-3">All your information is completely confidential</p>
        <form>
          <div class="d-flex justify-content-center">
            <div class="w-50 input-group ">
              <span class="input-group-text rounded-0 border-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-envelope-fill" viewBox="0 0 16 16">
                  <path
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                </svg>
              </span>
              <input type="text" placeholder="Type your email" class=" w-75 border-0 rounded-right">
            </div>
            <button class="btn bg-light text-primary">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<router-outlet></router-outlet>